* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    background: #f8f8f8;
}

body {
    position: relative;
    margin: 0 auto;
    padding: 50px 175px 20px;
    width: 700px;
    font: 17px/1.5 Georgia, serif;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    justify-content: center;
}

h1 {
    line-height: .75;
    color: #444;
    font-size: 100px;
    text-shadow: 0 -2px 0 #111;
}

/* --- */

#search {
    margin: 50px auto;
    max-width: 500px;
}

input {
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    padding: 7px 15px;
    width: 100%;
    background: #fff;
    font: inherit;
}

/* --- */

figure {
    /* float: left; */
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    display: inline-block;
}

figure img {
    border: 1px solid #333;
    height: 200px;
}

figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
